<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<title>Scrum Master</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/button.css' %}" rel="stylesheet">
		<link href="{% static 'css/all.css' %}" rel="stylesheet">
		<link rel="shortcut icon" href="/static/img/icon.png">
	</head>

	<body>
		<div id="header">
			<div id="name">
				<div class="add">
					<a href="/new.html" class="myButton green">Додати</a>
				</div>
				<div>Scrum Masters</div>
			</div>
		</div>
		<div id="menu"></div>
		<div id="content">

			{% for row in rows %}
				<div class="row">
					<div class="img">
						<a href="/scrum/{{row.id}}.html"><img src="/static/img/{{row.img}}" alt="img" /></a>
					</div>
					<div class="info">
						Ім'я: {{row.name}}<br />
						Прізвище: {{row.surname}}
					</div>
				</div>
			{% endfor %}

			<div id="btn">
					<a href="/index.html"><input type="button" class="button4" value="Головна сторінка"></a>
			</div>
		</div>
		<div id="footer">
			<div id="footer-copyright">
				Copyright &copy; 2016 <a href="https://vk.com/id82111337" target="_blank">Vitaliy</a>
			</div>
		</div>
	</body>
</html>
