<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<title>Scrum Master</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/button.css' %}" rel="stylesheet">
		<link href="{% static 'css/new-edit.css' %}" rel="stylesheet">
		<link rel="shortcut icon" href="/static/img/icon.png">
	</head>

	<body>
		<div id="header">
			<div id="name">Scrum Master</div>
		</div>
		<div id="menu"></div>
		<div id="content">
      <div class="row">
				<div class="img">
					<img src="/static/img/{{sm.img}}" alt="img" />
				</div>
				<div class="info">
					<form id="edit" action="" method="post"> {% csrf_token %}
						<input type="hidden" name="img" value="{{sm.img}}" />
						<table>
	            <tr>
	              <td class="key">Ім'я</td>
	              <td>
	                <input type="text" name="name" value="{{sm.name}}" />
	              </td>
	            </tr>

	            <tr>
	              <td class="key">Прізвище</td>
	              <td>
	                <input type="text" name="surname" value="{{sm.surname}}" />
	              </td>
	            </tr>

	            <tr>
	              <td class="key">Дата початку кар'єри</td>
	              <td>
	                <input type="text" name="date" value="{{sm.date}}" />
	              </td>
	            </tr>

	            <tr>
	              <td class="key">Кількість зроблених проектів</td>
	              <td>
	                <input type="text" name="count" value="{{sm.count}}" />
	              </td>
	            </tr>

	            <tr>
	              <td class="key">Швидкість виконання</td>
	              <td>
	                <input type="text" name="score" value="{{sm.score}}" />
	              </td>
	            </tr>
	          </table>
					</form>
				</div>
			</div>
			<div class="m-top">
				<a href="#" class="a_demo_four" onClick="document.getElementById('edit').submit(); return false;">Редагувати</a>
			</div>
			<div class="button5">
        <div id="btn1">
            <a href="/index.html"><input type="button" class="button4" value="Головна сторінка"></a>
        </div>
        <div id="btn2">
            <a href="/all.html"><input type="button" class="button4" value="Список"></a>
        </div>
      </div>
		</div>
		<div id="footer">
			<div id="footer-copyright">
				Copyright &copy; 2016 <a href="https://vk.com/id82111337" target="_blank">Vitaliy</a>
			</div>
		</div>
	</body>
</html>
