<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<title>Course Work</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/Error.css' %}" rel="stylesheet">
		<link rel="shortcut icon" href="/static/img/icon.png">
	</head>

	<body>
		<div id="header">
			<div id="name"><a href="/all.html">Scrum Masters</a></div>
		</div>
		<div id="menu"></div>
		<div id="content">
			<div id="info">
				<h1>{{error}}</h1>
      </div>
		</div>
		<div id="footer">
			<div id="footer-copyright">
				Copyright &copy; 2016 <a href="https://vk.com/id82111337" target="_blank">Vitaliy</a>
			</div>
		</div>
	</body>
</html>
