{% extends 'html/layout.html' %}

{% block body %}

{% if ismyfilms %}
    <h1>Мои фильмы
        {% if search %} ( {{search}} )
        {% elif sorted == "grade" %} ( Отсортировано по оценке )
        {% elif sorted == "date" %} ( Отсортировано по дате )
        {% endif %}
    </h1>
{% else %}
    <h1>Все фильмы
        {% if search %} ( {{search}} )
        {% endif %}
    </h1>
{% endif %}

<hr>
<div class="row">
{% for film in films %}
    <div class="col-xs-6 col-md-3 films">
        <div class="film-img">
            {% if ismyfilms %}
                <a href="/myfilminfo/{{film.film.name}}">
                    <img src="/polls/static/media/{{film.film.image}}" width="150" />
                    <span class="glyphicon glyphicon-play-circle ic-play"></span>
                </a>
            {% else %}
                <a href="/filminfo/{{film.name}}">
                    <img src="/polls/static/media/{{film.image}}" width="150" />
                    <span class="glyphicon glyphicon-play-circle ic-play"></span>
                </a>
            {% endif %}
        </div>
        <div class="film-name">
            {% if ismyfilms %}
                {% if sorted == "grade" %}
                    <div class="lead">
                        <div id="hearts" class="starrr star-info" data-rating={{film.grade}}></div>
                    </div>
                    <div class="name">
                        <a href="/myfilminfo/{{film.film.name}}">{{film.film.name}}</a>
                    </div>
                {% elif sorted == "date" %}
                    <div class="date"> <!-- класс не используется -->
                        {{film.date|date:"f d-m-Y"}}
                    </div>
                    <a href="/myfilminfo/{{film.film.name}}">{{film.film.name}}</a>
                {% else %}
                    <a href="/myfilminfo/{{film.film.name}}">{{film.film.name}}</a>
                {% endif %}
            {% else %}
                <a href="/filminfo/{{film.name}}">{{film.name}}</a>
            {% endif %}
        </div>
    </div>

{% if forloop.counter|divisibleby:"4" and forloop.counter != films|length %}
</div>
<div class="row">
{% endif %}

{% endfor %}
</div>

<div class="row outer">
    <ul class="pagination inner">
        {% if films.has_previous %}
            {% if ismyfilms %}
                {% if search %}
                    <li class="arrow"><a href="/myfilms/page/{{films.previous_page_number}}?value={{search}}">&laquo;</a></li>
                {% elif sorted %}
                    <li class="arrow"><a href="/sorted/page/{{films.previous_page_number}}?value={{sorted}}">&laquo;</a></li>
                {% else %}
                    <li class="arrow"><a href="/myfilms/page/{{films.previous_page_number}}">&laquo;</a></li>
                {% endif %}
            {% else %}
                {% if search %}
                    <li class="arrow"><a href="/films/page/{{films.previous_page_number}}?value={{search}}">&laquo;</a></li>
                {% else %}
                    <li class="arrow"><a href="/films/page/{{films.previous_page_number}}">&laquo;</a></li>
                {% endif %}
            {% endif %}
        {% else %}
            <li class="arrow unavailable"><a>&laquo;</a></li>
        {% endif %}

        {% for page in films.paginator.page_range %}
            {% if page == films.number %}
                {% if ismyfilms %}
                    {% if search %}
                        <li class="current"><a href="/myfilms/page/{{page}}?value={{search}}">{{page}}</a></li>
                    {% elif sorted %}
                        <li class="current"><a href="/sorted/page/{{page}}?value={{sorted}}">{{page}}</a></li>
                    {% else %}
                        <li class="current"><a href="/myfilms/page/{{page}}">{{page}}</a></li>
                    {% endif %}
                {% else %}
                    {% if search %}
                        <li class="current"><a href="/films/page/{{page}}?value={{search}}">{{page}}</a></li>
                    {% else %}
                        <li class="current"><a href="/films/page/{{page}}">{{page}}</a></li>
                    {% endif %}
                {% endif %}
            {% else %}
                {% if ismyfilms %}
                    {% if search %}
                        <li><a href="/myfilms/page/{{page}}?value={{search}}">{{page}}</a></li>
                    {% elif sorted %}
                        <li><a href="/sorted/page/{{page}}?value={{sorted}}">{{page}}</a></li>
                    {% else %}
                        <li><a href="/myfilms/page/{{page}}">{{page}}</a></li>
                    {% endif %}
                {% else %}
                    {% if search %}
                        <li><a href="/films/page/{{page}}?value={{search}}">{{page}}</a></li>
                    {% else %}
                        <li><a href="/films/page/{{page}}">{{page}}</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if films.has_next %}
            {% if ismyfilms %}
                {% if search %}
                    <li class="arrow"><a href="/myfilms/page/{{films.next_page_number}}?value={{search}}">&raquo;</a></li>
                {% elif sorted %}
                    <li class="arrow"><a href="/sorted/page/{{films.next_page_number}}?value={{sorted}}">&raquo;</a></li>
                {% else %}
                    <li class="arrow"><a href="/myfilms/page/{{films.next_page_number}}">&raquo;</a></li>
                {% endif %}
            {% else %}
                {% if search %}
                    <li class="arrow"><a href="/films/page/{{films.next_page_number}}?value={{search}}">&raquo;</a></li>
                {% else %}
                    <li class="arrow"><a href="/films/page/{{films.next_page_number}}">&raquo;</a></li>
                {% endif %}
            {% endif %}
        {% else %}
            <li class="arrow unavailable"><a>&raquo;</a></li>
        {% endif %}
    </ul>
</div>

<input type="text" style="color: red" name="referal" placeholder="Живой поиск" value="" class="who"  autocomplete="off">
<ul class="search_result"></ul>

<script type="text/javascript">
$(function(){

//Живой поиск
$('.who').bind("change keyup input click", function() {
  if(this.value.length >= 2){
      $.ajax({
          type: 'GET',
          url: "/search",
          data: {'value': this.value},
          response: 'text',

          success: function(data) {
              console.log('####################')
              for(var i=0; i<data.length; i++) {
                  console.log('find:' + data[i].name);
              }
              console.log('####################')
         }
     })
  }
})

$(".search_result").hover(function(){
  $(".who").blur(); //Убираем фокус с input
})

//При выборе результата поиска, прячем список и заносим выбранный результат в input
$(".search_result").on("click", "li", function(){
  s_user = $(this).text();
  //$(".who").val(s_user).attr('disabled', 'disabled'); //деактивируем input, если нужно
  $(".search_result").fadeOut();
})

})
</script>

<script type="text/javascript">
    var __slice = [].slice;

    (function($, window) {
        var Starrr;

        Starrr = (function() {
            Starrr.prototype.defaults = {
                rating: void 0,
                numStars: 10,
                change: function(e, value) {}
            };

            function Starrr($el, options) {
                var i, _, _ref, _this = this;

                this.options = $.extend({}, this.defaults, options);
                this.$el = $el;
                _ref = this.defaults;
                for (i in _ref) {
                    _ = _ref[i];
                    if (this.$el.data(i) != null) {
                        this.options[i] = this.$el.data(i);
                    }
                }
                this.createStars();
                this.syncRating();
            }

            Starrr.prototype.createStars = function() {
                var _i, _ref, _results;

                _results = [];
                for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
                    _results.push(this.$el.append("<span class='glyphicon .glyphicon-star-empty'></span>"));
                }
                return _results;
            };

            Starrr.prototype.setRating = function(rating) {
                this.options.rating = rating;
                this.syncRating();
                return this.$el.trigger('starrr:change', rating);
            };

            Starrr.prototype.syncRating = function(rating) {
                var i, _i, _j, _ref;

                rating || (rating = this.options.rating);
                if (rating) {
                    for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
                        this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
                    }
                }
                if (rating && rating < 10) {
                    for (i = _j = rating; rating <= 9 ? _j <= 9 : _j >= 9; i = rating <= 9 ? ++_j : --_j) {
                        this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
                    }
                }
                if (!rating) {
                    return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
                }
            };

            return Starrr;
        })();

        return $.fn.extend({
            starrr: function() {
                var args, option;

                option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
                return this.each(function() {
                    var data;

                    data = $(this).data('star-rating');
                    if (!data) {
                        $(this).data('star-rating', (data = new Starrr($(this), option)));
                    }
                    if (typeof option === 'string') {
                        return data[option].apply(data, args);
                    }
                });
            }
        });
    })(window.jQuery, window);

    $(function() {
        return $(".starrr").starrr();
    });
</script>

{% endblock %}
