<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Course Work</title>
		<link rel="shortcut icon" href="/static/img/icon.png">
	</head>

	<body>
		<a href="/">Вернуться на главную</a>
		<hr>
    <h1>Film info: {{film.film.name}}</h1><br>
		<video name='{{film.film.name}}' controls autoplay poster="" width='50%' height='40%'>
			<source src="/polls/static/media/{{film.video}}" type="video/mp4"></source>
		</video>
		<form action="/rating" method="post">
			<input type="hidden" name="name" value="{{film.film.name}}">
			<input type="range" name="grade" min="0" max="10" step="1" value="10">
			<input type="submit" name="submit" value="Рейтинг">
		</form>
		<br><br>
		<a href="/delete/{{film.name}}">Удалить</a>
	</body>
</html>
