{% extends 'html/layout.html' %}

{% block body %}

{% if ismyfilms %}
    <h1 class="heading-name">{{film.film.name}}</h1>
{% else %}
    <h1 class="heading-name">{{film.name}}</h1>
{% endif %}

{% if ismyfilms %}
    <form class="f-right" action="/delete" method="post"> {% csrf_token %}
        <input type="text" name="name" value="{{film.film.name}}" hidden>
        <input type="submit" class="bt bt-add-del bt-red" value="Удалить">
    </form>
{% else %}
    <form id="theForm" class="f-right" action="/add" method="post"> {% csrf_token %}
        <input type="text" name="name" value="{{film.name}}" hidden>
        <input type="submit" class="bt bt-add-del bt-green" value="Добавить">
    </form>
{% endif %}

<script>
  $("#theForm").submit(function(event) {
    event.preventDefault();
    var msg = $('#theForm').serialize();
    $.ajax({
      type: 'POST',
      url: '/add',
      data: msg,

      success: function(data) {
        alert('OK!!!')
      },
      error:  function() {
         alert('Возникла ошибка: ' + xhr);
      }
    });
  });
</script>

<hr>
<div class="row">
    <div class="col-xs-12 col-md-4" >
        {% if ismyfilms %}
            <img src="/polls/static/media/{{film.film.image}}" width="272"/><br>
        {% else %}
            <img src="/polls/static/media/{{film.image}}" width="272"/><br>
        {% endif %}
    </div>
    <div class="col-xs-12 col-md-8">
        <video controls poster="" width='100%'>
            {% if ismyfilms %}
                <source src="/polls/static/media/{{film.film.video}}" type="video/mp4"></source>
            {% else %}
                <source src="/polls/static/media/{{film.video}}" type="video/mp4"></source>
            {% endif %}
        </video>
    </div>
</div>

{% if ismyfilms %}
    <div class="lead stars">
        <div id="hearts" class="starrr"></div>
    </div>
{% endif %}

<hr>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <table>
            <tr>
                <td class="key">Страна:</td>
                {% if ismyfilms %}
                    <td>{{film.film.country}}</td>
                {% else %}
                    <td>{{film.country}}</td>
                {% endif %}
            </tr>
            <tr>
                <td class="key">Год:</td>
                {% if ismyfilms %}
                    <td>{{film.film.year}}</td>
                {% else %}
                    <td>{{film.year}}</td>
                {% endif %}
            </tr>
            <tr>
                <td class="key">Жанр:</td>
                {% if ismyfilms %}
                    <td>{{film.film.genre}}</td>
                {% else %}
                    <td>{{film.genre}}</td>
                {% endif %}
            </tr>
            <tr>
                <td class="key">Время:</td>
                {% if ismyfilms %}
                    <td>{{film.film.duration}}</td>
                {% else %}
                    <td>{{film.duration}}</td>
                {% endif %}
            </tr>
            <tr>
                <td class="key">Продюсер:</td>
                {% if ismyfilms %}
                    <td>{{film.film.producer}}</td>
                {% else %}
                    <td>{{film.producer}}</td>
                {% endif %}
            </tr>
            <tr>
                <td class="key">Актеры:</td>
                {% if ismyfilms %}
                    <td>{{film.film.actors}}</td>
                {% else %}
                    <td>{{film.actors}}</td>
                {% endif %}
            </tr>
            {% if ismyfilms %}
                <tr>
                    <td class="key">Добавлено:</td>
                    <td>{{film.date}}</td>
                </tr>
                <tr>
                    <td class="key">Рейтинг:</td>
                    <td>{{film.grade}}</td>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="col-xs-12 col-md-8">
        <label>Сюжет</label>
        {% if ismyfilms %}
            <p>{{film.film.about}}</p>
        {% else %}
            <p>{{film.about}}</p>
        {% endif %}
    </div>
</div>
<br>

{% endblock %}
