{% extends 'html/layout.html' %}

{% block body %}

<h1>О сайте</h1>
<hr>
<div class="row">
    <div class="col-xs-6 col-md-6" style="text-align: center">
        <h4>
            Наш сайт создан для того, что бы вы имели
            возможность сохранять свои любимые фильмы
            в личном кабинете и просматривать их в любое
            удобное вам время.
            Если вы еще не зарегистрировались вы всё равно
            можете смотреть фильмы, доступные на нашем сайте.
            Приятного просмотра!
        </h4>
    </div>
    <div class="col-xs-6 col-md-6">
        <h4>
            Зарегистрированные пользователи имеют возможность:<br><br>
            - Cохранять фильмы в личном кабинете<br>
            - Ставить рейтинги сохранённым фильмам<br>
            - Сортировать фильмы
        </h4>
    </div>
</div>

{% endblock %}
