<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Course Work</title>
	</head>

	<body>
		<a href="/signup">Регистрация</a>
		<a href="/login">Войти</a>
		<a href="/logout">Выйти</a>
		<hr>
		<h1>Home</h1>
		<hr>
		Поиск:
		<form action="/films/page/1" method="GET">
			<input type="text" name="value" value="">
			<input type="submit" name="submit" value="Поиск">
		</form>
		<a href="/films/page/1">Все фильмы</a>
		<br>
		<hr>
		<h1>Зарегистрированы: {{registered}}</h1>

		{% if registered %}
			<form action="/add" method="POST">
				<input type="text" name="name" value="фильм">
				<input type="submit" name="submit" value="Добавить">
			</form>
			<br>
			<a href="/myfilms/page/1">Мои фильмы</a><br><br><br><br>
			<a href="/delmyfilms">Удалить все мои фильмы</a>
		{% endif %}

	</body>
</html>
