<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<title>Scrum Master</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/index.css' %}" rel="stylesheet">
		<link rel="shortcut icon" href="/static/img/icon.png">
	</head>

	<body>
		<div id="header">
			<div id="name"><a href="/all.html">Scrum Masters</a></div>
		</div>
		<div id="menu"></div>
		<div id="content">
			<div id="info">
				<h1>Інформація про сайт:</h1>
				<div class="listInfo">
					Власник сайту: <i><a href="https://vk.com/id82111337" target="_blank">Віталій Лобов</a></i><br>
					E-Mail: <i>vitalik.lobov.fpm.51@gmail.com</i><br>
					Останнє оновлення сайту: 02.10.2016
				</div>
			</div>
			<div id="use">
				<h1>Призначення сайту:</h1>
				<div class="listInfo">
					Сайт містить інформацію про різних Scrum майстрів,
					які були обрані мною для цього проекту. Їх кількість становить 5 осіб.
					Всі вони мають дату початку кар'єри, кількість зроблених проектів та
					середню швидкість їх виконання.
				</div>
				<div id="btn">
						<a href="/all.html"><input type="button" class="button4" value="Scrum Masters"></a>
				</div>
			</div>
		</div>
		<div id="footer">
			<div id="footer-copyright">
				Copyright &copy; 2016 <a href="https://vk.com/id82111337" target="_blank">Vitaliy</a>
			</div>
		</div>
	</body>
</html>
