<!DOCTYPE html>

{% load staticfiles %}

<!--
	- страница пользователя

	- при сортировке отображать параметр сортировки
		( всегда ли отображать шкалу рейтинга ? films 38-52)
	- добавить обратную сортировку

	- изменить отображение пагинации
	- рейтинг фильмов

	- страница админа
-->

<html>
		<head>
				<meta charset="UTF-8">
				<title>The best movie</title>
				<link href="{% static '/img/icon.png' %}" rel="shortcut icon" type="image/png">

				<link href="{% static '/css/style.css' %}" rel="stylesheet">

		    <link href="{% static '/css/bootstrap/bootstrap.css' %}" rel="stylesheet">
		    <link href="{% static '/css/bootstrap/bootstrap-theme.css' %}" rel="stylesheet">

				<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" >

		    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
		    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		</head>
		<body>
				<nav class="navbar navbar-fixed-top" role="navigation">
				  	<div class="container-fluid border">
								<div class="navbar-header">
						      	<a class="navbar-brand brand border-r" href="/">Movie</a>
						    </div>
						    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
										<ul class="nav navbar-nav">
								        <li class="border-r"><a href="/films/page/1">Фильмы</a></li>
							      </ul>
										<div class="col-lg-4">
						            <form class="search-form" action="/films/page/1" method="get">
							  						<div class="input-group">
								                <input type="text" class="form-control xx input2" list="list" autocomplete="off" name="value" placeholder="Поиск фильмов...">
																<datalist id="list"></datalist>
																<span class="input-group-btn">
								    								<button class="btn btn-default xx" type="submit">Поиск</button>
								    						</span>
							  						</div>
						            </form>
										</div>
							      <ul class="nav navbar-nav navbar-right">
					              {% if not registered %}
														<li class="border-l"><a class="bt width-login" href="/login">Войти</a></li>
					              {% else %}
														<li class="border-l dropdown">
														    <a href="#" data-toggle="dropdown" class="bt dropdown-toggle">
														      	Name
														      	<b class="caret"></b>
														    </a>
														    <ul class="dropdown-menu profile-menu">
																		<li><a href="/profile">Профиль</a></li>
														      	<li><a href="/myfilms/page/1">Мои фильмы</a></li>
																		<li class="dropdown-submenu">
																				<a>Сортировать</a>
																				<ul class="dropdown-menu sort-h">
																						<li><a href="/sorted/page/1?value=grade">По оценке</a></li>
																						<li><a href="/sorted/page/1?value=date">По дате</a></li>
															          </ul>
																		</li>
																		<li class="dropdown-submenu">
															          <a>Поиск</a>
															          <ul class="dropdown-menu search-h">
																						<form class="" action="/myfilms/page/1" method="get">
																								<input type="text" class="search-mf" list="list-mf" autocomplete="off" name="value" placeholder="Поиск фильмов...">
																								<datalist id="list-mf"></datalist>
																						</form>
															          </ul>
														        </li>
														      	<li class="divider"></li>
														      	<li><a href="/logout">Выйти</a></li>
														    </ul>
													  </li>
												{% endif %}
							      </ul>
										<ul class="nav navbar-nav navbar-right">
					              {% if not registered %}
														<li class="border-l"><a class="bt width-reg" href="/signup">Регистрация</a></li>
					          		{% endif %}
				      			</ul>
								</div>
				  	</div>
				</nav>

				<script type="text/javascript">
						$(function() {
								$('.input2').bind("change keyup", function() {
										if (this.value.length == 0) {
												$("#list").html('');
										}
										if(this.value.length >= 2) {
								        $.ajax({
								            type: 'GET',
								            url: '/search',
								            data: {'value': this.value},
								            response: 'text',

								            success: function(data) { //.replace(/</g,"&lt;")
								                $("#list").html('');
								                for(var i = 0; i < data.length; i++) {
								                    $("#list").append('<option>' +  data[i].name.replace(/</g,"&lt;") + '</option>');
								                }
								            }
								        })
								    }
								})

								$('.search-mf').bind("change keyup", function() {
										if (this.value.length == 0) {
												$("#list-mf").html('');
										}
										if(this.value.length >= 2) {
								        $.ajax({
								            type: 'GET',
								            url: '/search',
								            data: {'value': this.value},
								            response: 'text',

								            success: function(data) {
								                $("#list-mf").html('');
								                for(var i = 0; i < data.length; i++) {
								                    $("#list-mf").append('<option>' +  data[i].name + '</option>');
								                }
								            }
								        })
								    }
								})
						})
				</script>

				<script type="text/javascript">
					  var csrftoken = $.cookie('csrftoken');
					  function csrfSafeMethod(method) {
					      // these HTTP methods do not require CSRF protection
					  		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
					  }
					  $.ajaxSetup({
					      beforeSend: function(xhr, settings) {
					          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
					              xhr.setRequestHeader("X-CSRFToken", csrftoken);
					          }
					      }
					  });
				</script>

				<article>
		      	{% block body %}{% endblock %}
		    </article>
				<footer>
						<div id="footer-copyright">
								Copyright &copy; 2016 <a href="https://vk.com/id82111337" target="_blank">Vitaliy</a>
						</div>
				</footer>
		</body>
</html>
