{% extends 'html/layout.html' %}

{% block body %}

<h1>Мой профиль</h1>
<hr>
<div class="row">
    <div class="col-xs-6 col-md-4">
        {% if not user.image %}
            <img src="/polls/static/img/sm_1.jpg" width="270"/>
        {% else %}
            sfhdgf
        {% endif %}
    </div>
    <div class="col-xs-6 col-md-8">
        <h3>
            Ваше имя: {{user.name}}<br><br>
            Ваш mail: {{user.mail}}<br><br>
            Количество фильмов: {{user.count}}
        </h3>
        <form class="" action="/delmyfilms" method="post"> {% csrf_token %}
            <input type="submit" class="bt bt-add-del bt-red mt" value="Удалить всю коллекцию фильмов">
        </form>
    </div>
</div>

{% endblock %}
