<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<meta charset="UTF-8">
		<title>Scrum Master</title>
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/button.css' %}" rel="stylesheet">
		<link href="{% static 'css/scrum.css' %}" rel="stylesheet">
		<link rel="shortcut icon" href="/static/img/icon.png">
	</head>

	<body>
		<div id="header">
			<div id="name">
				<div class="edit">
					<a href="/edit/{{sm.id}}.html" class="myButton orange">Редагувати</a>
				</div>
				<span>Scrum Master</span>
				<div class="delete">
					<a href="/delete/{{sm.id}}" class="myButton red">Видалити</a>
				</div>
			</div>
		</div>
		<div id="menu"></div>
		<div id="content">
      <div class="row">
				<div class="img">
					<img src="/static/img/{{sm.img}}" alt="img" />
				</div>
				<div class="info">
					<table>
            <tr>
              <td>Ім'я</td>
              <td>{{sm.name}}</td>
            </tr>

            <tr>
              <td>Прізвище</td>
              <td>{{sm.surname}}</td>
            </tr>

            <tr>
              <td>Дата початку кар'єри</td>
              <td>{{sm.date}}</td>
            </tr>

            <tr>
              <td>Кількість зроблених проектів</td>
              <td>{{sm.count}}</td>
            </tr>

            <tr>
              <td>Швидкість виконання</td>
              <td>{{sm.score}}</td>
            </tr>
          </table>
				</div>
      </div>
			<div class="button5">
        <div id="btn1">
            <a href="/index.html"><input type="button" class="button4" value="Головна сторінка"></a>
        </div>
        <div id="btn2">
            <a href="/all.html"><input type="button" class="button4" value="Список"></a>
        </div>
      </div>
		</div>
		<div id="footer">
			<div id="footer-copyright">
				Copyright &copy; 2016 <a href="https://vk.com/id82111337" target="_blank">Vitaliy</a>
			</div>
		</div>
	</body>
</html>
