<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Course Work</title>
		<link rel="shortcut icon" href="/static/img/icon.png">
	</head>

	<body>
		<a href="/">Вернуться на главную</a>
		<hr>
    <h1>Sign up</h1>
		<form action="/signup" method="POST">
			<input type="text" name="name" placeholder="имя"><br>
			<input type="text" name="mail" placeholder="mail"><br>
			<input type="text" name="password_1" placeholder="пароль"><br>
			<input type="text" name="password_2" placeholder="повторный пароль"><br>
			<input type="submit" name="submit">
		</form>
	</body>
</html>
