<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<title>Course Work</title>
		<link rel="shortcut icon" href="/static/img/icon.png">
	</head>

	<body>
		<a href="/">Вернуться на главную</a>
		<hr>
		<a href="/myfilms/page/1">Мои фильмы</a>
		<hr>
    {% for film in films %}
      Name: <a href="/filminfo/{{film.film.name}}">{{film.film.name}}</a><br>
      Grade: {{film.grade}}<br>
      <img src="/polls/static/media/{{film.film.image}}" width="150" /><br>
    {% endfor %}
	</body>
</html>
