/* ################### Body ################### */
body {
	background: #1a1a1a !important;
	color: #fff !important;
	-webkit-user-select: none;
}
a {
	text-decoration: none !important;
}
input[type="submit"] {
	outline: none;
}
/* ################### Body ################### */

/* ################### Nav ################### */
nav {
	background-color: #303030;
}
nav a {
  color: #32CD32;
  font-weight: bold;
  font-size: 20px;
}

.brand {
	color: yellow !important;
}

.profile-menu {
	margin-top: 1.5px !important;
	margin-right: -2.5px !important;
	background-color: #DCDCDC !important;
}
.profile-menu a {
	color: black !important;
}

.dropdown-submenu {
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	background-color: #DCDCDC;
	margin-left: 1px;
}
.dropdown-submenu:hover > .dropdown-menu {
	display: block;
}

.dropdown-submenu > .sort-h {
	margin-top: -6px;
	left: -100% !important;
	border-radius: 5px 0 0 5px;
}
.dropdown-submenu:hover > .sort-h {
	width: 100%;
}

.dropdown-submenu > .search-h {
	margin-top: -2px;
	left: -150% !important;
	height: 38px;
}
.dropdown-submenu:hover > .search-h {
	width: 150%;
}

.search-mf {
	color: black;
	height: 36px;
	margin-top: -5px;
	width: 100%;
	border-radius: 5px 0 0 5px;
	padding: 10px;
	border: none;
	outline: none;
}
/* ################### Nav ################### */

/* ################### a - button ################### */
.bt {
	display: block;
	border: none;
	height: 50px;
	background: #0c9c0d linear-gradient(#82d18d, #0c9c0d);
	color: white !important;
	text-align: center;
	font-weight: bold;
	font-size: 150%;
}
.width-login {
	width: 100px;
}
.width-logout {
	width: 100px;
}
.width-reg {
	width: 250px;
}
/* ################### a - button ################### */

/* ################### Border ################### */
.border {
	border: 2px solid #0971f2;
}
.border-l {
	border-left: 2px solid #0971f2;
}
.border-r {
	border-right: 2px solid #0971f2;
}
/* ################### Border ################### */

.mt {
	margin-top: 68px;
}

.xx {
	outline: none !important;
	height: 40px !important;
	font-size: 18px !important;
	margin-top: 5px;
}

input[type="text"] {
	background-color: #FFFAFA;
	font-size: 20px;
}

.input2::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input2::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input2:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input2:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
.input2:focus::-webkit-input-placeholder {text-indent: 500px; transition: text-indent 0.3s ease;}
.input2:focus::-moz-placeholder          {text-indent: 500px; transition: text-indent 0.3s ease;}
.input2:focus:-moz-placeholder           {text-indent: 500px; transition: text-indent 0.3s ease;}
.input2:focus:-ms-input-placeholder      {text-indent: 500px; transition: text-indent 0.3s ease;}

.progress-bar {
	background-color: #1a1a1a;
	height: 25px;
	padding: 5px;
	width: 350px;
	margin: 50px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	-webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
	box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
	display: inline-block;
	height: 25px;
	width: 200px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
	-webkit-transition: width .4s ease-in-out;
	-moz-transition: width .4s ease-in-out;
	-ms-transition: width .4s ease-in-out;
	-o-transition: width .4s ease-in-out;
	transition: width .4s ease-in-out;
}


/* ################### Main ################### */
article {
	margin-top: 100px;
	margin-left: 10vw;
	min-height: 68.5vh;
	width: 80vw;
}
/* ################### Main ################### */


/* ################### Films ################### */
.films {
	margin-top: 30px;
}
.film-img {
	height: 225px;
	width: 150px;
	margin: 0 auto;
}
.film-img a:hover img {
	opacity: 0.3;
}
.film-img > a span {
	display: none;
}
.film-img > a:hover span {
	display: block;
	color: white;
}
.ic-play {
	text-align: center;
	margin-top: -145px;
	font-size: 50px;
}
.star-info {
	height: 21px;
	font-size: 15px
}
.film-name {
	width: 150px;
	margin: auto;
	text-align: center;
	margin-top: 10px;
}
.film-name > .name {
	margin-top: -15px;
}
.film-name a {
	color: #4682B4;
}
.film-name a:visited {
	color: 	#4682B4;
}
.film-name a:hover {
	color: #FAF0E6;
}

.outer {
  text-align: center;
}
.inner {
  display: inline-block;
  vertical-align: middle;
}
.pagination li a {
  color: #4B0082 !important;
}
/* ################### Films ################### */

/* ################### Login, Signup ################### */
.form-data {
	width: 300px;
	margin: 40px auto;
}
.field {
	background: linear-gradient(#fa7f2d, #ff6600, #fa7f2d);
	padding: 5px;
	border-radius: 3px;
	margin-bottom: 25px;
}
.field input {
	border: 1px solid #96450f;
	width: 290px;
	padding: 5px;
	font-size: 20px;
	font-family: Helvetica Neue;
	font-weight: 600;
	box-shadow: 0 1px #fcb483, inset 0 3px 5px #aaa;
	border-radius: 3px;
	color: #666564;
	outline: none;
}
.field input:focus {
	color: #333;
}
.bt-long {
	border-radius: 3px;
	width: 300px;
}
/* ################### Login, Signup ################### */

/* ################### FilmInfo ################### */
.heading-name {
	display: inline-block;
  margin: auto;
  width: 85%;
}
.bt-add-del {
  height: 39px;
  border-radius: 2px;
}
.bt-green {
	background: green;
}
.bt-red {
	background: #B22222;
}
.f-right {
  float: right;
}

img {
	border-radius: 3px;
}
video {
	background: #778899;
	padding: 5px;
	border-radius: 3px;
}

.stars {
	text-align:center;
	width: 272px;
}
#hearts {
	color: #ee8b2d;
}

table {
	width: 272px;
	font-weight: bold;
	word-break: break-word;
}
table tr {
	vertical-align: top;
}
table td {
	padding: 2px;
}
.key {
	 width: 50%;
}

label {
	font-size: 20px;
}
/* ################### FilmInfo ################### */


/* ################### Footer ################### */
footer {
	background: #0d0d0d;
	border-top: 1px solid #353535;
	color: #888;
	height: 100px;
	text-align: center;
}
#footer-copyright {
	margin-top: 40px;
}
footer a {
	color: #D2B48C;
}
footer a:visited {
	color: #D2B48C;
}
footer a:hover {
	color: #98FB98;
}
/* ################### Footer ################### */
